/.vs
/.codelite
/bin-int
/bin
/packages

Makefile

*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

*.workspace
*.mk
*.project
/build
/build
/scripts/__pycache__
/CMakeFiles

/Echo/CMakeFiles
/Horizon/CMakeFiles
