[submodule "Echo/vendor/spdlog"]
	path = Echo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Echo/vendor/glm"]
	path = Echo/vendor/glm
	url = https://github.com/icaven/glm.git
[submodule "Echo/vendor/DirectX"]
	path = Echo/vendor/DirectX
	url = https://github.com/microsoft/DirectX-Headers
[submodule "Echo/vendor/vk-bootstrap"]
	path = Echo/vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "Echo/vendor/tinyobjloader"]
	path = Echo/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Echo/vendor/stb"]
	path = Echo/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Echo/vendor/imgui"]
	path = Echo/vendor/imgui
	url = https://github.com/DarkerMinecraft/imgui.git
	branch = docking
[submodule "Echo/vendor/DirectXTK12"]
	path = Echo/vendor/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "Echo/vendor/VulkanMemoryAllocator"]
	path = Echo/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Echo/vendor/Slang"]
	path = Echo/vendor/Slang
	url = https://github.com/shader-slang/slang
[submodule "Echo/vendor/uuidv4"]
	path = Echo/vendor/uuidv4
	url = https://github.com/crashoz/uuid_v4.git
[submodule "Echo/vendor/yaml"]
	path = Echo/vendor/yaml
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Echo/vendor/ImGuizmo"]
	path = Echo/vendor/ImGuizmo
	url = https://github.com/DarkerMinecraft/ImGuizmo.git
